#include <zephyr/dt-bindings/pwm/pwm.h>

/ { 
    zephyr,user{
        pwms =  <&pca9685 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>,
                <&pca9685 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>,
                <&pca9685 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>,
                <&pca9685 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
    };
};

&i2c1 {
    pca9685:pca9685@40 {
    compatible = "nxp,pca9685-pwm";
    reg = <0x40>;
    #pwm-cells = <3>;
    status = "okay";
    };
};